@tailwind base;
@tailwind components;
@tailwind utilities;


input{
  @apply w-[400px] border border-gray-200 py-2 px-6 bg-zinc-100/40
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(17, 17, 17);
}

::-webkit-scrollbar-track {
  width: 3px;
  background-color: rgb(17, 17, 17);
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: rgb(0, 119, 255);
  border-radius: 5px;
}